.App {
  font-family: monospace , sans-serif;
  box-sizing: border-box;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
